<!DOCTYPE html>
<html data-wf-site="52f3f0612b5f813919000016">
<head>
  <meta charset="utf-8">
  <title>Station Finished</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/webflow.css">
  <link rel="stylesheet" type="text/css" href="css/cs-147.webflow.css">
  <script>
    if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
  </script>
  <link rel="shortcut icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/placeholder/favicon.ico">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->
</head>
<body>
  <h1>The Help Page</h1>
  <div>
    <h3 id="stationId"></h3>
    <!-- <h3>Elapsed time: 6m, 36s</h3> -->
    <p><h4>Click back to return to the machine availability list</h4></p>
    <a class="button" href="/">Back</a>
    <p><h5>So what does this app do?</h5></p>
    <li><h6>MyFit is an application that allows people to see the availability status of different machines at their local gym. We know everybody's time is precious, so our goal is to help people spend less time waiting and more time doing what they want to!</h6></li>
    <p><h5>What's up with the QR codes?</h5></p>
    <li><h6>The app runs off of check-ins at machines via QR code scans. When someone is about to use a machine, they simply scan the 'start' QR code with their phone's camera and the website does the rest. When you're done, scan the 'finished' QR code and we reflect the change in the database. It's that easy.</h6></li>
    <p><h5>Where is the QR app on my phone?</h5></p>
    <li><h6>Though QR codes are everywhere nowadays, in order to scan and use them you still need to download a QR scanner application. These applications are available for free in both App Store and GooglePlay. Just decide which developers advertisements you want to look at</h6></li>
    <p><h5>What if I forget to sign out?</h5></p>
    <li><h6>No big deal! Though we do strongly encourage our users to sign out by scanning the 'finished' QR code, we know that the post-workout high can be distracting. Rest assured, our system will periodically sweep for machines that appear to be latent in usage. That said, be a friend and sign out when you're done!</h6></li>
  </div>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</body>
</html>