<!DOCTYPE html>
<html data-wf-site="52f3f0612b5f813919000016">
<head>
  <meta charset="utf-8">
  <title>Gym Scheduler</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/webflow.css">
  <link rel="stylesheet" type="text/css" href="css/cs-147.webflow.css">
  <script>
    if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
  </script>
  <link rel="shortcut icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/placeholder/favicon.ico">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->
</head>
<body>
  <h1>Welcome to MyFit</h1>
  <div>
    <div class="w-form">
      <form name="wf-form-change-gymdata" data-name="Change GymData" method="post">
        <select class="w-select gymselect" name="dropdown" required="required">
          <option value="">Select a gym...</option>
          <option value="First">Tressider Fitness</option>
          <option value="Second">Arrillaga Gym</option>
          <option value="Third">Roble Gym</option>
        </select><a class="button" href="#">Submit</a>
      </form>
      <div class="w-form-done">
        <p>Thank you! Your submission has been received!</p>
      </div>
      <div class="w-form-fail">
        <p>Oops! Something went wrong while submitting the form :(</p>
      </div>
    </div>
  </div>
  <div>
    <h4>Available Stations</h4>
    <div class="w-form">
      <form name="email-form" data-name="Email Form">
        <input class="w-input searchbox" type="text" placeholder="Search for stations..." name="search" data-name="Search"></input>
      </form>
      <div class="w-form-done">
        <p>Thank you! Your submission has been received!</p>
      </div>
      <div class="w-form-fail">
        <p>Oops! Something went wrong while submitting the form :(</p>
      </div>
    </div><a class="button" href="#">Search</a>
    {{#each items}}
  <p>{{name}}: Occupied: {{occupied}}</p>
  {{/each}}
    <ul class="machinelist">
      <li class="machine">
        <div class="machinestatus">Bench 1 : Occupied</div>
      </li>
      <li class="machine">
        <div class="machinestatus">Bench 2 : Occupied</div>
      </li>
      <li class="machine">
        <div class="machinestatus">Bench 3 : Free</div>
      </li>
      <li>
        <div class="machinestatus">Squat 1: Free</div>
      </li>
      <li>
        <div class="machinestatus">Squat 2 : Free</div>
      </li>
      <li>
        <div class="machinestatus">Treadmill 1 : Occupied</div>
      </li>
      <li>
        <div class="machinestatus">Treadmill 2 : Occupied</div>
      </li>
      <li>
        <div class="machinestatus">Treadmill 3 : Occupied</div>
      </li>
      <li>
        <div class="machinestatus">Elliptical 1: Free</div>
      </li>
      <li>
        <div class="machinestatus">Elliptical 2: Occupied</div>
      </li>
    </ul>
  </div>
  <div>
    <p>To check in at a machine, please scan the QR code at the machine with your phone.</p>
  </div><a class="helpbutton" href="#">Help</a>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</body>
</html>