<!DOCTYPE html>
<html data-wf-site="52f3f0612b5f813919000016">
<head>
  <meta charset="utf-8">
  <title>Gym Scheduler</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/webflow.css">
  <link rel="stylesheet" type="text/css" href="css/cs-147.webflow.css">
  <script>
    if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
  </script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/jquery-1.11.0.js"></script>
  <script type = "text/javascript" src="/js/table.js"></script>
  <link rel="shortcut icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/placeholder/favicon.ico">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->
</head>
<body>
  <h1>Welcome to MyFit</h1>
  <div>
    <p>To check in at a machine, please scan the QR code at the machine with your phone.</p>
  </div>
  <div>
    <form name="wf-form-change-gymdata" data-name="Change GymData" method="get" action = "/">
      <div class="w-form">
      <select class="w-select gymselect" name="dropdown" required="required" id="gymselect">
        <!--<option value="tresfit">Select a gym...</option>-->
        <option value="tresfit">Tressider Fitness</option>
        <option value="arrgym">Arrillaga Gym</option>
      </select>
      </div>
    </form>
  </div>
  <div>
    <h4>Available Stations</h4>
    <form id="addFriendForm" role="form" method="get" action="/" name="email-form">
      <div class="w-form">
        <input type="text" class="w-input searchbox" id="name" placeholder="Search blank query to display all" name="name">
      </div>
      <input type="submit" id="submitBtn" class="button" value="Search for stations..."></input>
    </form>    
    <ul class="machinelist" id="list">
      {{#each items}}
        <li class="machine">
          <div class="machinestatus">{{name}} : {{occupied}}</div>
        </li>
      {{/each}}
    </ul>
  </div>
  <a class="helpbutton" href="#">Help</a>
</body>
</html>