<!DOCTYPE html>
<html data-wf-site="530cf02f7f0fd48f37000220">
<head>
  <meta charset="utf-8">
  <title>gymscheduler - Station Started</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/webflow.css">
  <link rel="stylesheet" type="text/css" href="css/gymscheduler.webflow.css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Montserrat:400,700"]
      }
    });
  </script>
  <script>
    if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
  </script>
  <link rel="shortcut icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/placeholder/favicon.ico">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->
</head>
<body>
  <div class="buttonsdiv"><a id="help" class="button help" href="/help" target="_blank">help!</a><a class="button otherbutton" href="/">go home</a>
  </div>
  <div class="header">waitlifter</div>
  <div class="information">You have started an exercise!</div>
  <div class="instructions" id="stationId">station:&nbsp;&lt;station name&gt;</div>
  <div class="instructions">Make sure to scan the "finished" QR code after you finish using the station, or click the "finished!" button below.</div><a class="button finishedbutton" id='finishButton' href="#">finished!</a>
  <img class="icon" src="images/Sports-Dumbbell-icon.png"
  alt="530fa16800a59e9c14000077_Sports-Dumbbell-icon.png">
  <script type="text/javascript">
      var url = window.location.href;
      var params = url.split('?')[1];
      var finishURL = "/station-finished?" + params;
      document.getElementById("finishButton").setAttribute("href", finishURL);
      document.getElementById("stationId").innerHTML = "Station: " + decodeURI(params.split('machine=')[1]);
    </script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="js/webflow.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48713547-1', 'gymscheduler.herokuapp.com');
  ga('send', 'pageview');

  </script>
</body>
</html>