<!DOCTYPE html>
<html data-wf-site="52f3f0612b5f813919000016">
<head>
  <meta charset="utf-8">
  <title>Station Started</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/webflow.css">
  <link rel="stylesheet" type="text/css" href="css/cs-147.webflow.css">
  <script>
    if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
  </script>
  <link rel="shortcut icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/placeholder/favicon.ico">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->
</head>
<body>
  <div><a class="button" href="/">Go Home</a>
  </div>
  <h1>You Have Started an Exercise!</h1>
  <div>
    <h3 id="stationId"></h3>
    <p>Make sure to scan the "Finished" QR code after you finish using the station, or click the "Finished" button below.</p>
    <a class="button" id='finishButton' href="#">Finished!</a>
    <script type="text/javascript">
      var url = window.location.href;
      var params = url.split('?')[1];
      var finishURL = "/station-finished?" + params;
      document.getElementById("finishButton").setAttribute("href", finishURL);
      document.getElementById("stationId").innerHTML = "station: " + params.split('machine=')[1];
    </script>
  </div>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</body>
</html>