body {
  background-color: #474545;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}
h1 {
  margin: 10px 0px;
  color: #fcf7f7;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
  text-align: center;
}
h2 {
  margin: 10px 0px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}
h3 {
  margin: 10px 0px;
  color: white;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
}
h4 {
  margin: 10px 0px;
  color: white;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}
h5 {
  margin: 10px 0px;
  color: white;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin: 10px 0px;
  color: green;
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
}

p {
  display: block;
  width: 90%;
  margin-right: auto;
  margin-bottom: 5px;
  margin-left: auto;
  color: white;
  font-size: 17px;
  line-height: 29px;
  text-align: center;
}
.button {
  display: block;
  width: 15%;
  margin-right: auto;
  margin-left: auto;
  padding: 4px 15px;
  background-color: white;
  color: black;
  text-align: center;
  text-decoration: none;
}
.gymselect {
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 77px;
  padding-left: 17px;
  text-align: left;
}
.changegym {
  display: block;
  width: 28%;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  color: black;
}
.machinelist {
  display: block;
  width: 90%;
  margin-top: 11px;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
}
.machine {
  height: auto;
}
.machinestatus {
  line-height: 50px;
  font-weight: 700;
}
.helpbutton {
  display: block;
  width: 10%;
  height: 10%;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  color: black;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}
.searchbox {
  display: block;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}
@media (max-width: 479px) {
  h4 {
    display: block;
    margin-right: auto;
    margin-left: auto;
    color: white;
    text-align: center;
  }
  .button {
    display: block;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
  }
  .changegym {
    width: 28%;
    margin-left: auto;
    float: none;
    background-color: white;
    color: black;
  }
  .machinelist {
    display: block;
    width: 90%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
  }
  .machine {
    height: auto;
  }
}